/* template/screen.css */

html, body {
	margin: 0px;
	padding: 0px;
}

body{
	width: 1000px;
	/* margin: 0 auto; */
	overflow-y:scroll;
}

/* Home Link Seitenkopf */

#kopf {
	position: absolute;
	width: 100px;
	background-image: url("kopf.png");
	background-repeat: no-repeat;
	margin-left: 4px;
}


/* Seiten Ausrichtung und Breite, Textbereich */

header, nav, #seite {
	margin: 0 44px 0 auto;
	width: 844px;
}


/* Inhaltsverzeichnis */
#TOC {
	margin-bottom: 2em;
	border-bottom: 1px dotted silver;
}


/* Beschriftung des Inhaltsverzeichnisses */

#TOC::before {
	content: "Seiten Übersicht";
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	margin-top: 1em;
}

#seite {
  min-height: 555px;
}


