# ===============================================
# .gitignore
# ===============================================

# VIM 
*.swp

# Sicherungskopie jabref
.rx/*.bak

# Dateien der Rumex statik Funktion
.rx/*.htm
.rx/*.pdf
.rx/*.epub
.rx/*.odt
.rx/*.mobi
# Gedankenkarten / Symlinks
.rx/*.vym

# BeschreibungsDateien die per F8 (Vorschau)
# erstellt wurden.
beschreibung/*.htm
