/* print.css */


#kopf,
#TOC,
.impressum {
	display: none;
}

#fuss .links {
	display: none;
}

#fussnav {
	display: none;
}


/* Jede H1 Überschrift, der Einzelseiten, soll
 * bei einem Ausdruck auf einer neuen Seite anfangen.
 *
 * Die erste H1 Überschrift ist von dieser Regel ausgenommen */

#seite > h1:first-of-type {
	page-break-before: avoid;
} 

#seite > h1 {
	page-break-before:always;
}


