/* .rx/default/f5.css */

/* ****************************************************
 * Allgemeine Einstellungen
 */

@media all {

	header {
		text-align: center;
		border-bottom: 1px solid silver;
	}

	nav#TOC {
		border-bottom: 1px solid silver;
		font-size: 0.8em;
	} 


	section.footnotes {
		color: gray;
		font-size: 0.8em;
		margin-top: 4em;
	}

	section.footnotes hr {
		border: none;
		border-top: 1px solid silver;
		margin-left: 0;
		width: 40%;
	}

	/* ----------------------------------
		Umformatieren der Überschriften 
		-------------------------------- */

	/* Ab der zweiten h1 Überschrift bekommt diese
		einen größeren Abstand.
	*/

	h1:nth-of-type(n+2) {
		margin-top: 4em;
	}

	/* Der Link der Überschriften sollte nicht unterstrichen 
		und in schwarz dargestellt werden.  */
	h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a,
	h6 a {
		text-decoration: none;
		color: #000;
	}




	/* Nummerierung für die Bild, Tabellen Beschriftungen setzen. */
	body {
		counter-reset: bild tabelle;
	}




	/* Einstellung der Tabellen Beschriftung */

	table caption {
		font-size: 0.9em;
		min-width: 700px;
		padding: 1em 0 0.5em;
		text-align: left;
	}

	/* ----------------------------------------------
	 * Tabelle mit dem Vorwort "Tabelle" und einer 
	 * laufender Nummer beschriften
	 */
	table caption::before {
		/* Zahlendarstellung:
		 *
		 * Für die Darstellung der Nummerierung kann 
		 * verwendet werden:
		 *
		 *	- decimal -- einfach Nummern
		 *	- upper-roman -- Römische Zahlen groß
		 *	- lower-roman -- Römische Zahlen klein
		 *	- upper-alpha -- Buchstaben groß
		 *	- lower-alpha -- Buchstaben klein
		 *
		 * Genau so wie bei einer Aufzählungen.
		 */
		content: "Tabelle " counter(tabelle, upper-alpha) ": ";
		counter-increment: tabelle;
	}


	/* Bild Beschriftung */


	 /* Schriftart für die Bild Beschriftung ein wenig kleiner. */
	figure figcaption {
		font-size: 0.9em;
	}

	/* Die Beschreibung des Bildes bekommt ein "Abbildung:" 
	 * und eine laufende Nummer
	 */
	figure figcaption:before {
		counter-increment: bild; /* Zähler für die Bild Beschriftung um eins hoch setzen */
		content: "Abbildung " counter(bild) ": "; /*... und Beschriftung voranstellen. */
	}
}




/* *******************************************************
 * Einstellung für die Bildschirmausgabe
 */

@media screen {

	/* Breite der Seite begrenzen, Rand einstellen, 
	 * und mit einer Linie auf der rechten Seite kennzeichnen 
	 */
	body {
		border-right: 1px dotted #EFEFEF;
	    max-width: 944px;
		padding: 0 22px;
	}

	/* DIV TAGS mit der Klasse .drucker nicht auf dem
	 * Bildschirm anzeigen.
	 * Wird für das Einbinden von Videos verwendet da
	 * diese nicht im Ausdruck angezeigt werden.
	 */
	div.drucker {
		display: none;
	}

}




/* *******************************************************
 * Einstellungen für die Druckausgabe 
 */

@media print {


	/* Jede H1 Überschrift auf einer neuen Seite beginnen */
	body > h1 {
		page-break-before:always;
	}


	/* Bilder die nicht mehr auf die Seite passen auf die 
	 * maximal mögliche Größe skalieren. */
	img {
		max-width: 100%;
		max-height: 100%;
	}

	/* Inhaltsverzeichnis für den Ausdruck ausblenden */
	nav#TOC {
		display: none;
	}

	/* Für den Ausdruck brauchen die Links nicht hervorgehoben werden
	 * da diese so wie so nicht funktionieren
	 */
	a {
		color: black;
		text-decoration: none;
	}

	/* Inhalte die per iframe eingebunden werden ausblenden
	 * da diese beim Drucken nicht angezeigt werden.
	 * Der Platz für dieses Element wird aber reserviert 
	 * so entsteht ein unschöner Leerraum.
	 */
	iframe {
		display: none;
	}
}


