<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$>
<head>
  <meta charset="utf-8">

<!-- rumex Version -->
<meta name="generator" content="$meta_generator$">

<!-- rumex Suchmaschine -->
<meta name="robots" content="$meta_robots$">

<link rel="icon" type="image/gif" href="$favicon$" />

$for(author-meta)$
  <meta name="author" content="$author-meta$">
$endfor$
$if(date-meta)$
  <meta name="dcterms.date" content="$date-meta$">
$endif$

  <title>$if(title-prefix)$$title-prefix$ - $endif$$pagetitle$</title>
  <style type="text/css">code{white-space: pre;}</style>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
$if(quotes)$
  <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
$endif$
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$">
$endfor$
$if(math)$
  $math$
$endif$

$if(meta_publisher)$
<!-- rumex Herausgeber -->
<meta name="DC.publisher" content="$meta_publisher$" />
$endif$

$if(meta_creator)$
<!-- rumex Ersteller -->
<meta name="DC.creator" content="$meta_creator$" />
$endif$

$if(meta_filedat)$
<!-- rumex Speicherdatum der Datei -->
  <meta name="DCTERMS.modified" scheme="DCTERMS.W3CDTF" content="$meta_filedat$" />
$endif$

$if(mootit)$
<!-- rumex moot.it -->
<link rel="stylesheet" href="https://cdn.moot.it/1/moot.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
<script src="https://cdn.moot.it/1/moot.de.min.js"></script>
$endif$

$if(rumexsuche)$
<!-- rumex JavaScript Suche -->
<script type="text/javascript" src="$rumexsuche$/rumexsuche_config.js"></script>
<script type="text/javascript" src="$rumexsuche$/rumexsuche.js"></script>

<!-- rumex JavaScript Suchwort markieren -->
<script type='text/javascript' src='$rumexsuche$/rumexmarker.js'></script>
$endif$

<!-- rumex weblog @todo: Dateiname über config.mk ansprechen -->
<script type='text/javascript' src='rxtpl/js/weblog.js'></script>

$if(rsstitel)$
<!-- rumex RSS -->
<link rel="alternate" type="application/rss+xml" title="$rsstitel$" href="$rssfile$" />
$endif$

<!-- rumex CSS -->
<link rel="stylesheet" type="text/css" href="$cssall$" media="all" />
<link rel="stylesheet" type="text/css" href="$cssscreen$" media="screen" />
<link rel="stylesheet" type="text/css" href="$cssprint$" media="print" />

$if(seitenbanner)$
<!-- Bild für das Seitenbanner -->
<style type="text/css" media="screen">
	#kopf { background-image: url("$seitenbanner$") !important; }
</style>
$endif$


$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>
$for(include-before)$
$include-before$
$endfor$
$if(title)$
<header>
<h1 class="title"><a title="zur Startseite" href="index.html">$title$</a></h1>
$for(author)$
<h2 class="author">$author$</h2>
$endfor$
$if(date)$
<h3 class="date">$date$</h3>
$endif$
</header>
$endif$
$if(toc)$
<nav id="$idprefix$TOC">
$toc$
</nav>
$endif$
<div id="seite">
$body$
</div>
$for(include-after)$
$include-after$
$endfor$
</body>
</html>
